
h1{
    color: #d5f1ef;
    text-align: center;
}

a:link {
  color: #d5f1ef;
  background-color: transparent;
  text-decoration: none;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

.header{
    display: flex;
    background-color: #18455d;
    display: block;
    justify-content: center;
    width: 40%;
}

.subheader{
    color: #18455d;
    text-align: center;
}

.icon{
    border-radius: 50%;
    margin: .5%;
}

.main{
    display: flex;
    justify-content: center;
}

.contact{
    color:#18455d;
}

.links{
    display: flex;
}

p{
    color: #18455d;
    font-size: 20px;
}

h3{
    color: #18455d;
}

.top-image{
    z-index: -1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
}

.content{
    background-color: #d5f1ef;
}

img.hobbies{
    border-radius: 50%;
    width: 24%;
}