body{
    background-color: #fff;
    align-items: center;
}

h1{
    color: #fff;
    text-align: center;
}

.header{
    background-color: #2b6777;
    display: block;
    justify-content: center;
}