body{
    background-color: #d5f1ef;
}

h1{
    color: #d5f1ef;
    text-align: center;
}

a:link {
  color: #d5f1ef;
  background-color: transparent;
  text-decoration: none;
}

div{
    display: flex;
    justify-content: space-evenly;
}

.header{
    display: flex;
    background-color: #18455d;
    display: block;
    justify-content: center;
    width: 40%;
}

.subheader{
    color: #18455d;
    text-align: center;
}

.icon{
    border-radius: 50%;
    margin: .5%;
}

.main{
    display: flex;
    justify-content: center;
}