body{
    background-image:url(crystal.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Image from website: https://www.pinterest.com/pin/1125968651028300/ */

h1{
    color: #18455d;
    text-align: center;
}

a:link {
  color: #d5f1ef;
  background-color: transparent;
  text-decoration: none;
}

.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.header{
    display: flex;
    background-color: #d5f1ef;
    display: block;
    justify-content: center;
    width: 40%;
}

.subheader{
    color: #18455d;
    text-align: center;
}

.icon{
    border-radius: 50%;
    margin: .5%;
}

.main{
    display: flex;
    justify-content: center;
}

.contact{
    color:#18455d;
}

.links{
    display: flex;
}

p{
    color: #18455d;
    font-size: 25px;
}

h3{
    color: #18455d;
}

.content{
    background-color: #d5f1ef;
}

img.hobbies{
    border-radius: 50%;
    width: 15%;
    transition: 2s;
}

img.hobbies:hover{
    width: 34%;
}

.hobbies-images{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.dark-mode{
    display: block;
    background-color: #18455d;
    color: #d5f1ef;
    border-width: 0px;
    height: 25px;
    width: 100px;
    font-size: 15px;
}

.light-mode{
    display: none;
    background-color: #d5f1ef;
    color: #18455d;
    border-width: 0px;
    height: 25px;
    width: 100px;
    font-size: 15px;
}

.info{
    margin-left: 10px;
}

.card {
    background-color: #d5f1ef;
    color: #18455d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    width: 20%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.card-info {
    padding: 2px 16px;
}

.card img{
    width: 100%;
}

.card-holder{
    display: flex;
    justify-content: space-evenly;
}

#linkedin{
    border-radius: 25%;
}

.resume{
    width: 25%;
    transition: 2s;
}

.resume:hover{
    width: 45%;
}